body {
    height: 100%;
    background-color: #D8E9A8;
  }
.navbar {
    display: flex;
    width: 100%;
    background-color:#191A19;
    flex-direction: row;
  }
  
  /* links de navegacion */
  .navbar a {
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 8%; 
    text-align: center; 
    font-family: Arial, Helvetica, sans-serif;
  }